
.Channel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.Channel-box {
    margin: 10px;
    text-align: center;
    width: 20rem;
    cursor: pointer; 
  }

  .Channel-title {
    height: 3em;
    margin: 2px;
  }


.Select {
    text-align: center;
}